{{!Licensed to the .NET Foundation under one or more agreements. The .NET Foundation licenses this file to you under the MIT license.}}
{{!include(/^public/.*/)}}
{{!include(favicon.ico)}}
{{!include(logo.svg)}}
<!DOCTYPE html>
<html {{#_lang}}lang="{{_lang}}"{{/_lang}}>
  <head>
    <meta charset="utf-8">
    {{#redirect_url}}
      <meta http-equiv="refresh" content="0;URL='{{redirect_url}}'">
    {{/redirect_url}}
    {{^redirect_url}}
      <title>{{#title}}{{title}}{{/title}}{{^title}}{{>partials/title}}{{/title}} {{#_appTitle}}| {{_appTitle}} {{/_appTitle}}</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta name="title" content="{{#title}}{{title}}{{/title}}{{^title}}{{>partials/title}}{{/title}} {{#_appTitle}}| {{_appTitle}} {{/_appTitle}}">
      {{#_description}}<meta name="description" content="{{_description}}">{{/_description}}
      {{#description}}<meta name="description" content="{{description}}">{{/description}}
      <link rel="icon" href="{{_rel}}{{{_appFaviconPath}}}{{^_appFaviconPath}}favicon.ico{{/_appFaviconPath}}">
      <link rel="stylesheet" href="{{_rel}}public/docfx.min.css">
      <link rel="stylesheet" href="{{_rel}}public/main.css">
      <meta name="docfx:navrel" content="{{_navRel}}">
      <meta name="docfx:tocrel" content="{{_tocRel}}">
      {{#_noindex}}<meta name="searchOption" content="noindex">{{/_noindex}}
      {{#_enableSearch}}<meta name="docfx:rel" content="{{_rel}}">{{/_enableSearch}}
      {{#_disableNewTab}}<meta name="docfx:disablenewtab" content="true">{{/_disableNewTab}}
      {{#_disableTocFilter}}<meta name="docfx:disabletocfilter" content="true">{{/_disableTocFilter}}
      {{#docurl}}<meta name="docfx:docurl" content="{{docurl}}">{{/docurl}}
      <meta name="loc:inThisArticle" content="{{__global.inThisArticle}}">
      <meta name="loc:searchResultsCount" content="{{__global.searchResultsCount}}">
      <meta name="loc:searchNoResults" content="{{__global.searchNoResults}}">
      <meta name="loc:tocFilter" content="{{__global.tocFilter}}">
      <meta name="loc:nextArticle" content="{{__global.nextArticle}}">
      <meta name="loc:prevArticle" content="{{__global.prevArticle}}">
      <meta name="loc:themeLight" content="{{__global.themeLight}}">
      <meta name="loc:themeDark" content="{{__global.themeDark}}">
      <meta name="loc:themeAuto" content="{{__global.themeAuto}}">
      <meta name="loc:changeTheme" content="{{__global.changeTheme}}">
      <meta name="loc:copy" content="{{__global.copy}}">
      <meta name="loc:downloadPdf" content="{{__global.downloadPdf}}">
    {{/redirect_url}}
  </head>

  {{^redirect_url}}
  <script type="module" src="./{{_rel}}public/docfx.min.js"></script>

  <script>
    const theme = localStorage.getItem('theme') || 'auto'
    document.documentElement.setAttribute('data-bs-theme', theme === 'auto' ? (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light') : theme)
  </script>

  {{#_googleAnalyticsTagId}}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{_googleAnalyticsTagId}}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());
    gtag('config', '{{_googleAnalyticsTagId}}');
  </script>
  {{/_googleAnalyticsTagId}}

  <body class="tex2jax_ignore" data-layout="{{_layout}}{{layout}}" data-yaml-mime="{{yamlmime}}">
    <header class="bg-body border-bottom">
      <nav id="autocollapse" class="navbar navbar-expand-md" role="navigation">
        <div class="container-xxl flex-nowrap">
          <a class="navbar-brand" href="{{_appLogoUrl}}{{^_appLogoUrl}}{{_rel}}index.html{{/_appLogoUrl}}">
            <svg width="auto" height="40" viewBox="0 0 71 24" fill="none" xmlns="http://www.w3.org/2000/svg">
<path d="M7.125 3.37573L9 1.87573L17.1633 4.24572C19.2141 4.84113 20.625 6.71985 20.625 8.85538V17.8746L18.75 19.3746V9.56686C18.75 7.89848 17.6478 6.43073 16.0455 5.96557L7.125 3.37573Z" fill="currentColor"/>
<path d="M5.25 4.87573L3.375 6.37573L13.4652 9.51485C14.155 9.72946 14.625 10.3679 14.625 11.0904V22.1247L16.5 20.6246V10.2596C16.5 9.06727 15.7179 8.0161 14.5758 7.67348L5.25 4.87573Z" fill="currentColor"/>
<path d="M3.375 8.62573L5.25 9.20658V14.5024C5.25 16.1385 6.31065 17.5857 7.87076 18.0783L12.375 19.5007V21.3757L6.831 19.7587C4.783 19.1614 3.375 17.2841 3.375 15.1507V8.62573Z" fill="currentColor"/>
<path d="M7.5 9.91281L9.375 10.4888V13.1865C9.375 13.8967 9.82945 14.5272 10.5032 14.7518L12.375 15.3758V17.2507L9.40597 16.3372C8.27307 15.9886 7.5 14.9419 7.5 13.7566V9.91281Z" fill="currentColor"/>
<g clip-path="url(#clip0_4579_71657)">
<path d="M31.9876 16.1126C34.3369 16.1126 35.772 15.0287 35.772 13.2689C35.772 11.6621 34.7941 10.8714 32.559 10.4888C30.7684 10.17 30.4256 9.88948 30.4256 9.30287C30.4256 8.678 30.9716 8.32094 31.9368 8.32094C33.194 8.32094 33.8671 8.85654 34.3242 9.37938L35.645 8.30818C34.8703 7.40276 33.6766 6.71413 31.9114 6.71413C29.8414 6.71413 28.4445 7.72157 28.4445 9.34113C28.4445 10.9224 29.4604 11.6876 31.5558 12.0701C33.4353 12.4017 33.7782 12.7333 33.7782 13.3964C33.7782 14.085 33.0416 14.4931 32.0384 14.4931C30.8065 14.4931 29.9811 14.0085 29.2572 13.2689L28 14.4293C28.9524 15.526 30.3748 16.1126 31.9876 16.1126Z" fill="currentColor"/>
<path d="M40.4846 8.9203C39.7608 8.9203 39.075 9.17535 38.5798 9.81296V9.09883H36.7892V18H38.6305V15.2582C39.0496 15.7556 39.6846 16.0489 40.4719 16.0489C42.2752 16.0489 43.469 14.5569 43.469 12.4655C43.469 10.3868 42.2752 8.9203 40.4846 8.9203ZM40.0148 10.3996C40.9926 10.3996 41.5387 11.1392 41.5387 12.4527C41.5387 13.8427 40.9291 14.5696 40.0148 14.5696C39.1639 14.5696 38.529 13.9192 38.529 12.4782C38.529 11.0755 39.1385 10.3996 40.0148 10.3996Z" fill="currentColor"/>
<path d="M54.6336 7.45377H52.7795V9.09883H51.8651V10.4251H52.7795V14.0085C52.7795 15.271 53.3255 16.0489 54.9256 16.0489C55.4844 16.0489 55.9797 15.9596 56.3861 15.8321V14.4038C56.094 14.4803 55.7765 14.5441 55.4209 14.5441C54.8113 14.5441 54.6336 14.2763 54.6336 13.7152V10.4251H56.2591V9.09883H54.6336V7.45377Z" fill="currentColor"/>
<path d="M58.3018 6C57.7176 6 57.2097 6.45909 57.2097 7.0457C57.2097 7.63231 57.7176 8.10414 58.3018 8.10414C58.886 8.10414 59.3939 7.63231 59.3939 7.0457C59.3939 6.45909 58.886 6 58.3018 6ZM59.2288 9.09883H57.3747V15.8704H59.2288V9.09883Z" fill="currentColor"/>
<path d="M70.3158 6.48105H68.4617V15.8704H70.3158V6.48105Z" fill="currentColor"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M44.1844 12.491C44.1844 10.3486 45.4162 8.92029 47.1941 8.92029C48.0577 8.92029 48.6672 9.22635 49.0863 9.7492V9.09883H50.8896V15.8703H49.0355V15.2072C48.5529 15.8193 47.8545 16.0489 47.1814 16.0489C45.3781 16.0489 44.1844 14.5824 44.1844 12.491ZM49.1498 12.44C49.1498 11.0499 48.5021 10.3996 47.6386 10.3996C46.6861 10.3996 46.1274 11.1265 46.1274 12.5037C46.1274 13.8682 46.6861 14.5696 47.6386 14.5696C48.5656 14.5696 49.1498 13.881 49.1498 12.44Z" fill="currentColor"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M60.2905 12.491C60.2905 10.3486 61.5224 8.92029 63.3003 8.92029C64.1638 8.92029 64.7734 9.22635 65.1925 9.7492V9.09883H66.9958V15.8703H65.1417V15.2072C64.6591 15.8193 63.9606 16.0489 63.2876 16.0489C61.4843 16.0489 60.2905 14.5824 60.2905 12.491ZM65.256 12.44C65.256 11.0499 64.6083 10.3996 63.7447 10.3996C62.7923 10.3996 62.2335 11.1265 62.2335 12.5037C62.2335 13.8682 62.7923 14.5696 63.7447 14.5696C64.6718 14.5696 65.256 13.881 65.256 12.44Z" fill="currentColor"/>
</g>
<defs>
<clipPath id="clip0_4579_71657">
<rect width="42.3158" height="24" fill="white" transform="translate(28)"/>
</clipPath>
</defs>
</svg>
            {{_appName}}
          </a>
          <button class="btn btn-lg d-md-none border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navpanel" aria-controls="navpanel" aria-expanded="false" aria-label="Toggle navigation">
            <i class="bi bi-three-dots"></i>
          </button>
          <div class="collapse navbar-collapse" id="navpanel">
            <div id="navbar">
              {{#_enableSearch}}
              <form class="search" role="search" id="search">
                <i class="bi bi-search"></i>
                <input class="form-control" id="search-query" type="search" disabled placeholder="{{__global.search}}" autocomplete="off" aria-label="Search">
              </form>
              {{/_enableSearch}}
            </div>
          </div>
        </div>
      </nav>
    </header>

    <main class="container-xxl">
      <div class="toc-offcanvas">
        <div class="offcanvas-md offcanvas-start" tabindex="-1" id="tocOffcanvas" aria-labelledby="tocOffcanvasLabel">
          <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="tocOffcanvasLabel">Table of Contents</h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#tocOffcanvas" aria-label="Close"></button>
          </div>
          <div class="offcanvas-body">
            <nav class="toc" id="toc"></nav>
          </div>
        </div>
      </div>

      <div class="content">
        <div class="actionbar">
          <button class="btn btn-lg border-0 d-md-none" style="margin-top: -.65em; margin-left: -.8em"
              type="button" data-bs-toggle="offcanvas" data-bs-target="#tocOffcanvas"
              aria-controls="tocOffcanvas" aria-expanded="false" aria-label="Show table of contents">
            <i class="bi bi-list"></i>
          </button>

          <nav id="breadcrumb"></nav>
        </div>

        <article data-uid="{{uid}}">
          {{!body}}
        </article>

        {{^_disableContribution}}
        <div class="contribution d-print-none">
          {{#sourceurl}}
          <a href="{{sourceurl}}" class="edit-link">{{__global.improveThisDoc}}</a>
          {{/sourceurl}}
          {{^sourceurl}}{{#docurl}}
          <a href="{{docurl}}" class="edit-link">{{__global.improveThisDoc}}</a>
          {{/docurl}}{{/sourceurl}}
        </div>
        {{/_disableContribution}}

        {{^_disableNextArticle}}
        <div class="next-article d-print-none border-top" id="nextArticle"></div>
        {{/_disableNextArticle}}

      </div>

      <div class="affix">
        <nav id="affix"></nav>
      </div>
    </main>

    {{#_enableSearch}}
    <div class="container-xxl search-results" id="search-results"></div>
    {{/_enableSearch}}

    <footer class="border-top text-secondary">
      <div class="container-xxl">
        <div class="flex-fill">
          {{{_appFooter}}}{{^_appFooter}}<span>Made with <a href="https://dotnet.github.io/docfx">docfx</a></span>{{/_appFooter}}
        </div>
      </div>
    </footer>
  </body>
  {{/redirect_url}}
</html>
